@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

::-webkit-scrollbar {
    display: none;
}

* {
    scroll-behavior: smooth;
}

/* UNDERLINE HOVER START */
.underline-custom {
    position: relative;
}

.underline-custom:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #fff;
    transition: all 0.3s ease;
}

.underline-custom:hover:after {
    left: 0;
    width: 100%;
}

/* UNDERLINE HOVER END */

/* DEPRECATED */
#radio1:checked+#label1 {
    color: #4f46e5;
    font-weight: bold;
}

#radio2:checked+#label2 {
    color: #4f46e5;
    font-weight: bold;
}

/* DEPRECATED */

/* width */
.display_scroll::-webkit-scrollbar {
    display: block;
    width: 5px;
}

/* Track */
.display_scroll::-webkit-scrollbar-track {
    background: #F2F2F2;
}

/* Handle */
.display_scroll::-webkit-scrollbar-thumb {
    background: #015D67;
}

/* CHAT BUBBLE */
.chat-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    z-index: -10;
    height: 0;
    border: 40px solid transparent;
    border-top-color: #015D67;
    border-bottom: 0;
    border-left: 0;
    margin-bottom: -7px;
}

/* REMOVE INC DEC NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* driver.js */
/* Class assigned to popover wrapper */
.driver-popover.driverjs-theme {
    background-color: #015D67;
    color: white;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
    color: white;
    background-color: transparent;
    font-size: 25px;
    font-weight: normal;
}

.driver-popover.driverjs-theme .driver-popover-close-btn:hover {
    color: #9b9b9b;
}


.driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {
    border-left-color: #015D67;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {
    border-right-color: #015D67;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {
    border-top-color: #015D67;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
    border-bottom-color: #015D67;
}

.driver-popover.driverjs-theme button {
    text-align: center;
    background-color: white;
    color: #015D67;
    font-weight: bold;
    font-size: small;
    border-radius: 6px;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-top: 10px;
}

/*  */

/* Arrow pointing towards the highlighted element */
.driver-popover-arrow {}

/* Title and description */
.driver-popover-title {}

.driver-popover-description {}

/* Close button displayed on the top right corner */
.driver-popover-close-btn {}

/* Footer of the popover displaying progress and navigation buttons */
.driver-popover-footer {}

.driver-popover-progress-text {}

.driver-popover-prev-btn {}

.driver-popover-next-btn {}